annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
bcrypt
certifi
cffi
charset-normalizer
click
colorama
cryptography
deprecation
dnspython
ecdsa
email-validator
exceptiongroup
fastapi
filelock
fsspec
greenlet
h11
h2
hpack
httpcore
httpx
huggingface-hub
hyperframe
idna
jinja2
joblib
markupsafe
mpmath
multidict
networkx
numpy
packaging
passlib
pillow
postgrest
propcache
pyasn1
pycparser
pydantic
pydantic-core
PyJWT
python-dotenv
python-jose
python-multipart
pyyaml
realtime
regex
requests
rsa
safetensors
scikit-learn
scipy
sentence-transformers
six
sniffio
sqlalchemy
starlette
storage3
StrEnum
supabase
supabase-auth
supabase-functions
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typing-extensions
typing-inspection
urllib3
uvicorn
websockets
yarl
